* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: #e07758;
  background-color: #cae3d0;
  font-family: Arial, Helvetica, sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #6e8f6b;
  border-radius: 0;
  border: 0;
  

}


.navbar-brand {
  padding-top: 24px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: Arial, Helvetica, sans-serif;
  color: #fff6a6;
  font-size: 1.6em;
  font-weight: bold;
  margin-top: 0;
  line-height: .75;
}


.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

div.navbar-brand{
    padding-top:20px;
    padding-bottom: 20px;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #cddbaf;
  text-align: center;
}
#nav-list a:hover {
  background: #f0e989;
  color: #e07758; /* here */
}
#nav-list a span {
  font-size: 1.8em;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid white;
}


.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

div h1{
    margin-top:0px;
    margin-bottom:20px;
}

#body div p{
    margin-bottom: 10px;
}

div.section{
    padding: 0px 20px 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #f0e989;
    margin-bottom: 15px;
    border-radius: 10px;
}

h1.text-center{
    color:#6f95b0;
    font-weight:bold;
    font-size: 1.8em;
}

div.section h2{
    margin-top: 10px;
    text-align: center;
    color:#d46442;
    font-weight: bold;
    font-size: 1.4em;
}
